.navbar{
    height: 4rem;
    border-bottom: .5px solid rgb(182, 181, 181);
    font-size: 14px;
    color: #555;
    
    .wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        .search{
            display: flex;
            align-items: center;
            border: 1px solid lightgray;
            padding: 3px;
            input {
                border: none; 
                background-color: transparent;
                padding-left: 10px;
                &:focus{
                    outline: none;
                }
                &::placeholder{
                    font-size: 12px;
                    padding-left: 10px;
                }
            }
        }
        .items{
            display: flex;
            align-items: center;
            gap: 1.8rem;
            cursor: pointer;
            .item{
                display: flex;
                align-items: center;
                position: relative;
                .avatar{
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    border-radius: 50%;
                }
                &:nth-child(1){
                    display: flex;
                    gap: 5px;
                    align-items: center;
                }
                .counter{
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background-color: red;
                    color: white;
                    font-size: 12px;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                }
            }
        }
    }
}